/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  /*sets first page to be in columns*/
  #things{
    display: flex;
    flex-direction: row;
  }
  /*adds padding for search bar*/
  #left{
    margin-left:100px ;
    margin-right: 50px;
  }
  .weatherBlock, img{
    padding-right:30px;
}
button{
  margin-top: 7px;
  width: 170px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}
/*Formats the weather into blocks on the second page.*/
.weatherBlock{
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
    height: 150px;
    width: 120px;
    color:antiquewhite;
    background-color: rgb(34, 33, 33);
    font-size: 15px;
}
/*formats history block to look nice*/
#history{
  flex-wrap: nowrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px 15px;
}


/* formats img for park in the park's block*/
.parkBlockimg{
  height: 60%;
  width: 100%;
  padding-right: 0px;
}
/*css for park blocks*/
.parkBlock{
  display: inline-flex;
  flex-direction: row;
  margin: 20px;
  flex-wrap: wrap;
  height: 320px;
  width: 280px;
  color:antiquewhite;
  background-color: rgb(7, 112, 21);
  font-size: 15px;
}
/*adjust parkblock for on hover elemnet*/
.parkBlock {
  position: relative;
  transition: transform 0.3s ease-out;
  transform-origin: center;
}
/*makes block bigger on hover*/
.parkBlock:hover {
  transform: scale(1.05);
}
/*styles on hover infomation*/
.parkBlock-info {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
/*makes info block apear*/
.parkBlock:hover .parkBlock-info {
  opacity: 1;
}
/*puts history row in line with park*/
#hist{
 margin-top: 96px;
 margin-right: 4px;
 margin-left: 4px;
}
/*shrinks parkblock on small screens*/
@media only screen and (mix-width: 800px)  {
  .parkBlock {
    height: 250px;
    width: 200px;
  }
}

